
@{
    ViewBag.Title = "Staging";
}

<h2>Staging</h2>
<div class="row">
    <div class="col-lg-2 col-sm-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                @*<span class="label label-success pull-right">Monthly</span>*@
                <h5>Total Open Jobs</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins"><span data-bind="text: StagingSnapshot().Total"></span></h1>
                @*<div class="stat-percent font-bold text-info">N/A% <i class="fa fa-level-up"></i></div>*@
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                @*<span class="label label-danger pull-right">Low value</span>*@
                <h5>Complete</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins"><span data-bind="text: StagingSnapshot().Complete"></span></h1>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                @*<span class="label label-danger pull-right">Low value</span>*@
                <h5>Incomplete</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins"><span data-bind="text: StagingSnapshot().Incomplete"></span></h1>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                @*<span class="label label-danger pull-right">Low value</span>*@
                <h5>Missing Tasks / Proceed</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins"><span data-bind="text: StagingSnapshot().Missing"></span></h1>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                @*<span class="label label-danger pull-right">Low value</span>*@
                <h5>Hold</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins"><span data-bind="text: StagingSnapshot().Hold"></span></h1>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-4">
        <button class="btn btn-lg btn-primary" id="metrics-toggle">Metrics</button>
    </div>

</div>
<div class="row">
    <div class="col-md-6" id="top-level-list">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h3>List of Jobs</h3>
            </div>
            <div class="ibox-content" style="height: 600px;">
                <div class="table-responsive full-height">
                    <table class="table table-striped table-bordered table-hover dtStaging">
                        <thead>
                            <tr>
                                <th class="hidden">ID</th>
                                <th>Status</th>
                                <th>Job</th>
                                <th>Suffix</th>
                                <th>Date Start</th>
                                <th>Date Due</th>
                                <th>Steps</th>
                                <th>Part</th>
                                <th>Desc.</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="detail-list">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h3>Detail</h3>
            </div>
            <div class="ibox-content" style="height: 600px;">
                <div class="table-responsive full-height">
                    <table class="table table-striped table-bordered table-hover dtStagingDetail">
                        <thead>
                            <tr>
                                <th class="hidden">ID</th>
                                <th>Status</th>
                                <th>Job</th>
                                <th>Suffix</th>
                                <th>Seq</th>
                                <th>Date Start</th>
                                <th>Part</th>
                                <th>Desc.</th>
                                <th>WC</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        @*<div class="ibox float-e-margins right-menu-slider" tabindex="-1" id="staging-checklist" hidden>
                <div class="ibox-title">
                    <h3>Checklist - <i class="fa fa-close hover-rem" id="checklist-close"></i></h3>
                </div>
                <div class="ibox-content">
                    <div class="row"><div class="col-md-3"><h2> Job: <span id="selected-job"> </span></h2></div>  <div class="col-md-3"><h2>Seq: <span id="selected-seq"></span> </h2></div> <div class="col-md-3"><h2>Work Center: <span id="selected-wc"></span> </h2></div></div>
                    <hr />
                    <div data-bind="foreach: Criteria">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="checkboxSpecial">
                                    <input type="checkbox" value="1" class="chk-criteria" data-bind="attr:{ id: 'chk-criteria-'+$data.ID}" name="" />
                                    <label data-bind="attr:{ for: 'chk-criteria-'+$data.ID}"></label>
                                </div>
                            </div>
                            <div class="col-md-6" style="height: 70px;">
                                <h3 class="center-vertically" data-bind="text: $data.Name"></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    <div class="col-md-12" id="staging-metrics" hidden>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h3>Metrics</h3>
            </div>
            <div class="ibox-content" style="height: 600px;">
                <h1>Coming Soon</h1>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade print-this" id="chkListModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Staging Check List</h4>
            </div>
            <div class="modal-body" id="print-this">
                <div class="row"><div class="col-md-3 col-sm-3 col-xs-3"><h2> Job: <span id="selected-job" detailid=""> </span></h2></div>  <div class="col-md-3 col-sm-3 col-xs-3"><h2>Seq: <span id="selected-seq"></span> </h2></div> <div class="col-md-3 col-sm-3 col-xs-3"><h2>Work Center: <span id="selected-wc"></span> </h2></div><div class="col-md-3 col-sm-3 col-xs-3"><button class="btn btn-primary print-hide print-check-list">Print</button></div></div>
                <hr />

                <div data-bind="if: Checklist().length == 0">
                    <center><button class="btn btn-lg btn-primary" id="startStagingAudit">Start Audit</button></center>
                </div>
                <div data-bind="if: Checklist().length > 0">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12" style="border-right: dashed 1px #4155b4">

                            <div data-bind="foreach: Checklist">
                                <div class="row" style="height: 70px">
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        @*<div class="checkboxSpecial">
                                                <input type="checkbox" value="1" class="chk-criteria" data-bind="attr:{ id: 'chk-criteria-'+$data.ID}" name="" />
                                                <label data-bind="attr:{ for: 'chk-criteria-'+$data.ID}"></label>
                                            </div>*@
                                        <select class="form-control selectStatus print-hide" data-bind="attr:{auditdetailid: $data.ID}, value: $data.Status">
                                            <option value="0"></option>
                                            <option value="On Hold">On Hold</option>
                                            <!-- ko if: $data.Important == 0 -->
                                            <option value="Missing But Proceed">Missing But Proceed</option>
                                            <!-- /ko -->
                                            <option value="Complete">Complete</option>
                                        </select>
                                        <span class="screen-hide" data-bind="text: $data.Status"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <h3 data-bind="text: $data.Name"></h3>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <span data-bind="if: $data.Important == 1"><i class="fa fa-asterisk"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="row  print-hide">
                                @*<div class="col-md-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">Type</span>
                                            <select class="form-control" id="typeSelect">
                                                <option value="">Select a Type...</option>
                                                <option value="Material">Material</option>
                                                <option value="Equipment">Equipment</option>
                                            </select>
                                        </div>
                                    </div>*@
                                <div class="col-md-3 col-md-offset-1">
                                    <div class="input-group">
                                        <span class="input-group-addon">Desc.</span>
                                        <input type="text" class="form-control" id="descText" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">Location</span>
                                        <select class="form-control" id="locationSelect">
                                            <option value="">Select a Location...</option>
                                            <option value="Staging Pallet">Staging Pallet</option>
                                            <option value="Work Center">Work Center</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <input type="checkbox" id="consumableCheck" />
                                    <label for="consumableCheck">Consumable</label>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa fa-2x fa-plus hover-add" id="addItem"></i>
                                </div>
                            </div>
                            <div class="row">
                                @*<div class="col-md-6">
                                        <center><h2>Material</h2></center>
                                        <hr />
                                        <div style="height: 500px;">
                                            <div class="full-height-scroll">
                                                <table class="table table-bordered table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <th class="hidden">ID</th>
                                                            <th>Description</th>
                                                            <th>Location</th>
                                                            <th>Issuer</th>
                                                            <th>Date Issued</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="col-md-10 col-md-offset-1">
                                    <center><h2>Equipment</h2></center>
                                    <hr />
                                    <div style="height: 500px;">
                                        <div class="full-height-scroll">
                                            <table class="table table-bordered table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th class="hidden">ID</th>
                                                        <th>Description</th>
                                                        <th>Location</th>
                                                        <th>Issuer</th>
                                                        <th>Date Issued</th>
                                                        <th>Consumable</th>
                                                        <th>Date Returned</th>
                                                    </tr>
                                                </thead>
                                                <tbody data-bind="foreach: Equipment()">
                                                    <tr>
                                                        <td class="hidden" data-bind="text: $data.ID"></td>
                                                        <td data-bind="text: $data.Description"></td>
                                                        <td data-bind="text: $data.Location"></td>
                                                        <td data-bind="text: $data.IssuerID"></td>
                                                        <td data-bind="text: $data.DateIssued"></td>
                                                        <td data-bind="text: $data.Consumable"></td>
                                                        <td data-bind="if: $data.Consumable == true">
                                                            <span data-bind="if: $data.DateReturned == null"><input type="checkbox" class="chkItemReturned" data-bind="attr:{'itemid' : $data.ID}" /></span>
                                                            <span data-bind="if: $data.DateReturned != null"><span data-bind="text: $data.DateReturned"></span></span>
                                                        </td>
                                                        <td class="print-hide">
                                                            <i class="fa fa-close hover-rem removeItem" data-bind="attr: {'itemid' : $data.ID}"></i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Scripts/KO-Models/ko-model-operations.js"></script>

    <script>
        var vm = null;

        $(document).on('click', ".print-check-list", function () {
            printElement("print-this");

        });

        function printElement(div) {
            // Create and insert new print section
            var elem = document.getElementById(div);
            var domClone = elem.cloneNode(true);
            var $printSection = document.createElement("div");
            $printSection.id = "printSection";
            $printSection.appendChild(domClone);
            document.body.insertBefore($printSection, document.body.firstChild);

            window.print();

            // Clean up print section for future use
            var oldElem = document.getElementById("printSection");
            if (oldElem != null) { oldElem.parentNode.removeChild(oldElem); }
            //oldElem.remove() not supported by IE

            return true;
        }

        $(function () {

            vm = new OperationsViewModel();
            ko.applyBindings(vm);
            vm.LoadStagingTopLevel();
            vm.LoadStagingSnapshot();
            var SelectedJob = '';
            var SelectedSuffix = '';
            var toggle = 0;

            var selectedID = "";
            var selectedDetail = "";
            var selectedSuf = "";
            var selectedSeq = "";

            $('#chkListModal').on('hidden.bs.modal', function (e) {
                vm.LoadStagingDetail(SelectedJob, SelectedSuffix);
                console.log(SelectedJob, SelectedSuffix);

                vm.LoadStagingSnapshot();
            });

            

            $(document).on('click', '#metrics-toggle', function () {
                if (toggle == 0) {
                    $('#detail-list').toggle('slide', { direction: 'right' }, '250', function () {
                        $('#top-level-list').toggle('slide', { direction: 'left' }, '250', function () {
                            $('#staging-metrics').toggle('slide', { direction: 'up' }, '250');
                        });
                    });
                    toggle = 1;
                }
                else {
                    $('#staging-metrics').toggle('slide', { direction: 'up' }, '250', function () {
                        $('#top-level-list').toggle('slide', { direction: 'left' }, '250', function () {
                            $('#detail-list').toggle('slide', { direction: 'right' }, '250', function () {

                            });
                        });
                    });
                    toggle = 0;
                }
            });

            var table = $('.dtStaging').DataTable({
                "order": [[5, "asc"]],
                "createdRow": function (row, data, index) {
                    $(row).addClass('staging-item');
                    $('td', row).eq(0).addClass("hidden");
                    if (data[1] == 'Complete') {
                        $('td', row).eq(1).css('background-color', 'rgba(63, 191, 63, 0.6)');
                    }
                    else if (data[1] == 'Missing Tasks / Proceed') {
                        $('td', row).eq(1).css('background-color', 'rgba(232, 113, 20, 0.6)');
                    }
                    else if (data[1] == 'Hold') {
                        $('td', row).eq(1).css('background-color', 'rgba(255, 0, 14, 0.6)');
                    }

                }
            });

            var table1 = $('.dtStagingDetail').DataTable({
                "order": [[5, "asc"], [4, "asc"]],
                "createdRow": function (row, data, index) {
                    $(row).addClass('staging-detail-item');
                    $('td', row).eq(0).addClass("hidden");
                    if (data[1] == 'Complete') {
                        $('td', row).eq(1).css('background-color', 'rgba(63, 191, 63, 0.6)');
                    }
                    else if (data[1] == 'Missing Tasks / Proceed') {
                        $('td', row).eq(1).css('background-color', 'rgba(232, 113, 20, 0.6)');
                    }
                    else if (data[1] == 'Hold') {
                        $('td', row).eq(1).css('background-color', 'rgba(255, 0, 14, 0.6)');
                    }
                }
            });

            $(document).on('click', '.staging-item', function () {
                SelectedJob = $(this).children().next().next().html();
                SelectedSuffix = $(this).children().next().next().next().html();
                $('#staging-checklist').hide('slide', { direction: 'right' }, '250');
                vm.LoadStagingDetail(SelectedJob, SelectedSuffix);
            });

            $(document).on('click', '.staging-detail-item', function () {
                selectedID = $(this).children().first().html();
                selectedDetail = $(this).children().next().next().html();
                selectedSeq = $(this).children().next().next().next().next().html();
                selectedWC = $(this).children().last().html();
                //selectedWC = $('tr.staging-detail-item>td:nth-child(9)').html();
                $('#selected-job').attr('detailid', selectedID);
                $('#selected-job').html(selectedDetail);
                $('#selected-seq').html(selectedSeq);
                $('#selected-wc').html(selectedWC);
                ClearItemForm();
                $('#chkListModal').modal('show');
                //$('#chkListModal').show('slide', { direction: 'right' }, '250');
                vm.LoadSelectedStagingItems(selectedID);
                vm.LoadStagingChecklist(selectedID);
            });

            $(document).on('click', '.chk-criteria', function () {
                var checked = "false";
                if ($(this).is(':checked')) {
                    checked = "true";
                }
                var criteriaID = $(this).attr('id').split('-')[2];
                console.log(criteriaID + " - " + checked);
            });

            $(document).on('click', '#checklist-close', function () {
                $('#staging-checklist').hide('slide', { direction: 'right' }, '250');
            });

            //$(document).on('change', '.adj-ship-date', function () {
            //    var ID = $(this).parent().parent().parent().children().first().html();
            //    var newDate = $(this).val();
            //    if($(this).parent().parent().children().first().html() == ''){
            //        vm.AddAdjShipDate(ID, newDate, this);

            //    }
            //    else {
            //        DateID = $(this).parent().parent().next().html();
            //        vm.UpdateAdjShipDate(ID, DateID, newDate);
            //    }
            //    $(this).parent().parent().children().first().html(newDate);
            //});

            $(document).on('click', '#addItem', function () {
                var DetailID = $('#selected-job').attr('detailid');
                //var Type = $('#typeSelect').val();
                var Type = 'Equipment';
                var Desc = $('#descText').val();
                var Location = $('#locationSelect').val();
                var Consumable = $('#consumableCheck').is(':checked');
                if (Type.length > 0 && Desc.length > 0 && Location.length > 0) {

                    $(this).addClass('hidden');
                    vm.AddItem(DetailID, Type, Desc, Location, Consumable);
                    vm.LoadSelectedStagingItems(DetailID);
                    ClearItemForm();
                }
            });
            $(document).on('change', '.chkItemReturned', function () {
                console.log('changed');
                if ($(this).is(':checked')) {
                    var ItemID = $(this).attr('itemid');
                    vm.ItemReturn(ItemID);
                    $(this).parent().html("<i class='fa fa-check fa-2x'></i>");
                }
            });

            $(document).on('click', '.removeItem', function () {
                var ItemID = $(this).attr('itemid');
                vm.RemoveItem(ItemID);
                console.log(ItemID);
            });

            $(document).on('click', '#startStagingAudit', function () {
                vm.StartStagingAudit($('#selected-job').attr('detailid'));
            });

            $(document).on('change', '.selectStatus', function () {
                var ID = $(this).attr('auditdetailid');
                var Status = $(this).val();
                console.log(Status);
                vm.UpdateAuditDetail(ID, Status);
            });
        });

        function ClearItemForm() {
            $('#typeSelect').val("");
            $('#descText').val("");
            $('#locationSelect').val("");
            $('#consumableCheck').attr("checked", false);
        }

        function validateItemForm() {

        }
    </script>
}
