
@{
    ViewBag.Title = "Employees";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1" id="top-level-list">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>List of Active Employees</h5>
                <div class="ibox-tools">
                    <i class="fa fa-refresh hover-add" id="reload-data"></i>
                </div>
            </div>
            <div class="ibox-content" style="height: 600px;">
                <div class="table-responsive full-height">
                    <table class="table table-striped table-bordered table-hover dtEmployees">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Title</th>
                                <th>Email</th>
                                <th>Office</th>
                                <th>Mobile</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/KO-Models/ko-model-utility.js"></script>

    <script>
        var vm = null;

        $(function () {

            vm = new UtilityViewModel();
            ko.applyBindings(vm);
            vm.LoadADInfo();
            
            $(document).on('click', '#reload-data', function () {
                table.clear().draw();
                vm.LoadADInfo();
            });

            var table = $('.dtEmployees').DataTable({
                "order": [[1, "asc"]],
                "createdRow": function (row, data, index) {
                }
            });
        });
    </script>
}
