
@{
    ViewBag.Title = "ZipFiles";
}
<div class="row">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h3>Directories</h3>
            </div>
            <div class="ibox-content" style="height: 600px;">

                <div class="full-height-scroll">
                    <div data-bind="foreach: Directories()">
                        <div class="zip-directory" data-bind="attr:{fullpath: FullPath}">
                            <span data-bind="foreach: new Array(Level)">
                                <i class="fa fa-caret-right"></i>
                            </span>
                            <i class="fa fa-folder"></i>
                            <span data-bind="text: Name"></span>
                        </div>
                        |
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h3>Zip Generator</h3>
            </div>
            <div class="ibox-content" style="height: 600px;">
                <div class="full-height-scroll">
                    <center><h4>Generate Zip Link for: </h4></center>
                    <center><h4><span id="zip-directory-confirm"></span></h4></center>

                    <br /><br /><br /><br />
                    <center><button class="btn btn-lg btn-primary" id="confirm">Confirm</button></center>
                    <br /><br /><br /><br />
                    <center id="load-spinner" hidden><i class="fa fa-spinner fa-spin fa-3x"></i></center>
                    <center id="zip-code" hidden></center>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/KO-Models/ko-model-utility.js"></script>

    <script>
        var vm = null;

        $(function () {
            vm = new UtilityViewModel();
            ko.applyBindings(vm);
            vm.LoadZipFiles();
            var selectedDirectory = "";

            $(document).on('click', '#reload-data', function () {
                vm.LoadADInfo();
            });

            $(document).on('click', '.zip-directory', function () {
                selectedDirectory = $(this).attr("fullpath");
                $("#zip-directory-confirm").text(selectedDirectory.split("FTP\\")[1]);
            });

            $(document).on('click', '#confirm', function () {
                if (selectedDirectory != "") {
                    $('#zip-code').hide();
                    $(this).prop("disabled", true);
                    $('#load-spinner').show();
                    vm.GenerateZipFile(selectedDirectory);
                }
            });
        });
    </script>
}
