
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SlideLayout.cshtml";
}
<div style="position: absolute; top: 10px; left: 10px; z-index: 9999; width: 300px;" id="controls">
    <i class="fa fa-cog fa-2x" id="settings"></i>
    <i class="fa fa-arrow-circle-left fa-2x" id="prevSlide"></i>
    <i class="fa fa-arrow-circle-right fa-2x" id="nextSlide"></i>
    <i class="fa fa-pause fa-2x" id="pause-play"></i>
</div>

@*<div class="row slide" id="slide-1">
        <div class="jumbotron jumbotron-fluid" style="padding-bottom: 10px; padding-top: 10px; margin-bottom: 10px;">
            <center><h1 style="font-weight: bold; color: #000">Ultra C-Lean</h1></center>
        </div>
        <div class="row">
            <div class="col-md-12">
                <center><h1>Facility</h1></center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <center><h1>35</h1></center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <center><h1>Assembly</h1></center>
            </div>
            <div class="col-md-4">
                <center><h1>Production</h1></center>
            </div>
            <div class="col-md-4">
                <center><h1>Quality</h1></center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <center><h1>35</h1></center>
            </div>
            <div class="col-md-4">
                <center><h1>36</h1></center>
            </div>
            <div class="col-md-4">
                <center><h1>37</h1></center>
            </div>
        </div>
    </div>*@
<div class="row slide" id="slide-1">
    <div class="col-md-12" style="height: 100vh;">
        <br /><br />
        <center><img src="~/Content/img/Orizon_logo_fullcolor.png" style="width: 80%" /></center>
    </div>
</div>
<div class="row slide" id="slide-2">
    <div class="jumbotron jumbotron-fluid" style="padding-bottom: 10px; padding-top: 10px; margin-bottom: 10px;">
        <center><h1 style="font-weight: bold; color: #000">Monthly Incentive Dashboard</h1></center>
    </div>
    <div class="col-md-12" style="height: 100vh;">
        <div class="row">
            <div class="col-md-6">
                <center><h1 style="font-size: 30px; font-weight: bold; color: #2c3e50;">Closed WO's</h1></center>
                <center><h2 style="font-weight: bold;">Goal: <span data-bind="text: Incentives().CWOGoal"></span></h2></center>
                <center><h2 style="font-weight: bold;">Actual: <span data-bind="text: Incentives().Cwo"></span></h2></center>
                <center><div class="circle-lg" data-bind="css: 'circle-'+Incentives().CwoStatus"></div></center> <br />
            </div>
            <div class="col-md-6">
                <center><h1 style="font-size: 30px; font-weight: bold; color: #2c3e50;">Scrap</h1></center>
                <center><h2 style="font-weight: bold;">Goal: 1.5%</h2></center>
                <center><h2 style="font-weight: bold;">Actual: <span data-bind="text: Incentives().ScrapAsPercent"></span></h2></center>
                <center><div class="circle-lg" data-bind="css: 'circle-'+Incentives().ScrapStatus"></div></center> <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <center><h1 style="font-size: 30px; font-weight: bold; color: #2c3e50;">Past Due</h1></center>
                <center><h2 style="font-weight: bold;">Goal: 0</h2></center>
                <center><h2 style="font-weight: bold;">Actual: <span data-bind="text: Incentives().PDSales"></span></h2></center>
                <center><div class="circle-lg" data-bind="css: 'circle-'+Incentives().PDStatus"></div></center> <br />
            </div>
            <div class="col-md-6">
                <center><h1 style="font-size: 30px; font-weight: bold; color: #2c3e50;">Ultra Clean</h1></center>
                <center><h2 style="font-weight: bold;">Goal: <span data-bind="text: Incentives().UCFGoal"></span></h2></center>
                <center><h2 style="font-weight: bold;">Actual: <span data-bind="text: Incentives().UCFScore"></span></h2></center>
                <center><div class="circle-lg" data-bind="css: 'circle-'+Incentives().UCFStatus"></div></center> <br />
            </div>
        </div>
    </div>
</div>
<div class="row slide" id="slide-3">
    <div class="col-md-12" style="height: 100vh;">
        <div id="sales-chart" style="height: 100vh; width: 100vw;"></div>
        <div class="slide-chart-label">Current: <span data-bind="text: SalesMTD"></span></div>
    </div>
</div>
<div class="row slide" id="slide-4">
    <div class="col-md-12" style="height: 100vh;">
        <div id="scrap-chart" style="height: 100vh; width: 100vw;"></div>
        <div class="slide-chart-label">Current: <span data-bind="text: ScrapMTD"></span></div>
    </div>
</div>
<div class="row slide" id="slide-5">
    <div class="col-md-12" style="height: 100vh;">
        <div id="otd-chart" style="height: 100vh; width: 100vw;"></div>
    </div>
</div>

<div class="row slide" id="slide-6">
    <div class="jumbotron jumbotron-fluid" style="padding-bottom: 10px; padding-top: 10px; margin-bottom: 10px;">
        <center><h1 style="font-weight: bold; color: #000">All-Employee Meeting!</h1></center>
    </div>
    <br /><br /><br /><br /><br /><br />
    <div class="col-md-12" style="height: 100vh;">
        <center><h1 style="font-size: 70px; font-weight: bold;"><span style="color: #c0392b;"><span data-bind="text: MeetingInfo().shortDate"></span></span></h1></center>
        <br />
        <center><h1 style="font-size: 70px; font-weight: bold;"><span style="color: #c0392b;">What:</span> <span data-bind="text: MeetingInfo().What"></span></h1></center>
        <br />
        <center><h1 style="font-size: 70px; font-weight: bold;"><span style="color: #c0392b;">When:</span> <span data-bind="text: MeetingInfo().When"></span></h1></center>
        <br />
        <center><h1 style="font-size: 70px; font-weight: bold;"><span style="color: #c0392b;">Where:</span> <span data-bind="text: MeetingInfo().Where"></span></h1></center>
    </div>
</div>

<div class="row slide" id="slide-6">
        <div class="jumbotron jumbotron-fluid" style="padding-bottom: 10px; padding-top: 10px; margin-bottom: 10px;">
            <center><h1 style="font-weight: bold; color: #000">Employee Survey</h1></center>
        </div>
        <div class="col-md-12" style="height: 100vh;">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <center><h1 style="font-size: 80px; font-weight: bold;"><span style="color: #34495e;"><span>We need <em>All</em> Employees to Visit the <span style="color: #c0392b">breakroom kiosk</span> to take a brief <span style="color: #c0392b">Employee Survey</span><br /> no later than <span style="color: #c0392b">Friday</span> July 22<sup>nd</sup>.<br /><br /> Access this by selecting the "Surveys July 2016" link on the GUI Station.</span></span></h1></center>
            <br />
        </div>
    </div>

    <div class="row slide" id="slide-7">
        <div class="jumbotron jumbotron-fluid" style="padding-bottom: 10px; padding-top: 10px; margin-bottom: 10px;">
            <center><h1 style="font-weight: bold; color: #000">Attention All Employees</h1></center>
        </div>
        <div class="col-md-12" style="height: 100vh;">
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            @*<center><h1 style="font-weight: bold; font-size: 80px; color: #c0392b;">We need all employees to update their dependent information in Ultipro ASAP. Thank you!</h1></center>*@
            <center><h1 style="font-weight: bold; font-size: 80px; color: #c0392b;">Mandatory Safety Meeting tomorrow, 9/7/16 @@ 3:00 p.m.</h1></center>
        </div>
    </div>

<div class="modal" id="setting-modal">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="height: 800px;">
            <div class="modal-header">
                <span class="modal-title">Settings</span>
                <button type="button" id="close-modal" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div class="col-md-row">
                    <div class="col-md-6">
                        <h2>Override</h2>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon">Location:</span>
                                    <select class="form-control" id="plantSelect">
                                        <option value="BEST" plantid="1">North KC</option>
                                        <option value="GRO" plantid="2">Grove</option>
                                        <option value="OWA" plantid="3">Owasso</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon">Year:</span>
                                    <select class="form-control" id="yearSelect">
                                        <option value="2016">2016</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon">Month:</span>
                                    <select class="form-control" id="monthSelect">
                                        <option value="09">09</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/KO-Models/ko-model-slide.js"></script>

    <script>
        var SalesChart;
        $(function () {

            $(document).idleTimer(5000);
            var vm = new SlideViewModel();
            ko.applyBindings(vm);
            vm.loadData();
            var loadDataInterval = setInterval(function () {
                vm.loadData();
                

            }, 300000);
            var paused = false;

            function positionCurrentLabel(chart) {
                var xdata = chart.xAxis[0].series[2].processedXData;
                var ydata = chart.yAxis[0].series[2].processedYData;
                var xpoint = xdata[xdata.length - 1];
                var ypoint = ydata[ydata.length - 1];
                console.log(chart.xAxis[0].translate(xpoint) + " - " + chart.yAxis[0].translate(ypoint));
            }

            refInterval = setInterval(function () {
                vm.CheckRefreshFlag();
            }, 5000);

            memInterval = setInterval(function () {
                location.reload();
            }, 43200000);

            $(document).bind('mousedown', '.onboard-task-item', function (e) {
                if (e.button == 3) {
                    console.log('right-clicked');
                }
            });

            $(document).change('.plantSelect', function () {
                vm.loadData();
            });

            $(document).on("idle.idleTimer", function (even, elem, obj) {
                if (paused == false) {
                    interval = setInterval(function () {
                        nextSlide();
                    }, 15000);
                    $('#controls').toggle('slide', { direction: 'up' }, '500');
                    nextSlide();
                }
            });

            $(document).on("active.idleTimer", function (even, elem, obj) {
                if (paused == false) {
                    clearInterval(interval);
                    $('#controls').toggle('slide', { direction: 'up' }, '500');
                }
            });

            $(document).on('click', "#pause-play", function () {
                if (paused == true) {
                    $('#pause-play').removeClass('fa-play');
                    $('#pause-play').addClass('fa-pause');
                    paused = false;
                }
                else {
                    $('#pause-play').removeClass('fa-pause');
                    $('#pause-play').addClass('fa-play');
                    paused = true;
                }
            });
            $('html, body').css('overflow', 'hidden');



            SalesChart = $('#sales-chart').highcharts({
                title: {
                    text: 'Sales - Month to Date',
                    style: {
                        fontSize: '60px',
                        fontWeight: 'bolder'
                    },
                    x: -20 //center
                },
                xAxis: {
                    labels: {
                        rotation: -45,
                        step: 4,
                        style: {
                            fontSize: '20px',
                            fontWeight: 'bold'
                        },
                    }
                },
                yAxis: {
                    labels: {
                        formatter: function () {
                            if (this.value.toFixed(0) >= 1000000) {
                                return '$' + this.value.toFixed(0) / 1000000 + 'M';
                            } else {
                                return '$' + this.value.toFixed(0) / 1000 + 'K';
                            }
                        },
                        style: {
                            fontSize: '20px',
                            fontWeight: 'bold'
                        },
                    },
                    title: {
                        text: ''
                    },
                    min: 0
                },
                tooltip: {
                    valuePrefix: '$',
                    shared: true,
                    reversed: true
                },
                legend: {
                    reversed: true,
                    itemStyle: {
                        fontSize: '35px',
                        font: '35pt Trebuchet MS, Verdana, sans-serif',
                    }


                },
                plotOptions: {
                    series: {
                        marker: {
                            enabled: false
                        },
                        lineWidth: 10,
                        point: {
                            events: {
                                click: function (e) {

                                    var month = $("#monthSelect").val();
                                    var year = $("#yearSelect").val();
                                    var day = this.x + 1;
                                    vm.loadSelectDaySales(year, month, day);
                                }
                            }
                        }
                    }
                },
                series: [{
                    name: 'Goal',
                    data: [],
                    color: '#27ae60'
                }, {
                    name: 'Closed WO',
                    data: [],
                    dashStyle: 'shortDash',
                    color: 'rgba(52, 73, 94, 0.80)'
                }, {
                    name: 'Sales',
                    data: [],
                    color: 'rgba(217, 104, 0, 0.80)'
                }]
            }).highcharts();

            positionCurrentLabel(SalesChart);

            var ScrapChart = $('#scrap-chart').highcharts({
                title: {
                    text: 'Scrap - Month to Date',
                    style: {
                        fontSize: '60px',
                        fontWeight: 'bolder'
                    },
                    x: -20 //center
                },
                xAxis: {
                    labels: {
                        rotation: -45,
                        step: 4,
                        style: {
                            fontSize: '20px',
                            fontWeight: 'bold'
                        },
                    }
                },
                yAxis: {
                    labels: {
                        formatter: function () {
                            if (this.value.toFixed(0) >= 1000000) {
                                return '$' + this.value.toFixed(0) / 1000000 + 'M';
                            } else {
                                return '$' + this.value.toFixed(0) / 1000 + 'K';
                            }
                        },
                        style: {
                            fontSize: '20px',
                            fontWeight: 'bold'
                        },
                    },
                    title: {
                        text: ''
                    },
                    min: 0
                },
                tooltip: {
                    valuePrefix: '$',
                    shared: true,
                    reversed: true
                },
                legend: {
                    reversed: true,
                    itemStyle: {
                        fontSize: '35px',
                        font: '35pt Trebuchet MS, Verdana, sans-serif',
                    }

                },
                plotOptions: {
                    series: {
                        marker: {
                            enabled: false
                        },
                        lineWidth: 10,
                        point: {
                            events: {
                                click: function (e) {
                                    var month = $("#monthSelect").val();
                                    var year = $("#yearSelect").val();
                                    var day = this.x + 1;
                                    vm.loadSelectDayScrap(year, month, day);







                                }
                            }
                        }
                    }
                },
                series: [{
                    name: 'Goal',
                    data: [],
                    color: '#27ae60'
                }, {
                    name: 'Scrap',
                    data: [],
                    color: 'rgba(217, 104, 0, 0.80)'
                }]
            }).highcharts();

            

            OTDChart = $('#otd-chart').highcharts({
                title: {
                    text: 'On Time Delivery - Monthly',
                    style: {
                        fontSize: '60px',
                        fontWeight: 'bolder'
                    },
                    x: -20 //center
                },
                xAxis: {
                    labels: {
                        rotation: -45,
                        step: 2,
                        style: {
                            fontSize: '20px',
                            fontWeight: 'bold'
                        }
                    }
                },
                yAxis: {
                    min: 25,
                    max: 100,
                    labels: {
                        formatter: function () {
                            return this.value.toFixed(0) + '%';
                        },
                        style: {
                            fontSize: '20px',
                            fontWeight: 'bold'
                        }
                    },
                    title: {
                        text: ''
                    }
                },
                tooltip: {
                    valueSuffix: '%',
                    shared: true,
                    reversed: true
                },
                legend: {
                    reversed: true,
                    itemStyle: {
                        fontSize: '35px',
                        font: '35pt Trebuchet MS, Verdana, sans-serif',
                    }

                },
                plotOptions: {
                    series: {
                        marker: {
                            enabled: false
                        },
                        lineWidth: 10
                    }
                },
                series: [{
                    name: 'Goal',
                    data: [98, 98, 98, 98, 98, 98, 98, 98, 98, 98, 98, 98],
                    color: '#27ae60'
                }, {
                    name: 'OTD',
                    data: [],
                    color: 'rgba(217, 104, 0, 0.80)'
                }]
            }).highcharts();


            vm.ChartSalesMTD.subscribe(function (val) {
                SalesChart.series[2].setData(val, true);
            });
            vm.ChartScrapMTD.subscribe(function (val) {
                ScrapChart.series[1].setData(val, true);
            });
            vm.ChartCategories.subscribe(function (val) {
                SalesChart.xAxis[0].setCategories(val, true);
                ScrapChart.xAxis[0].setCategories(val, true);
            });
            vm.SalesGoals.subscribe(function (val) {
                SalesChart.series[0].setData(val, true);
            });
            vm.ScrapGoals.subscribe(function (val) {
                ScrapChart.series[0].setData(val, true);
            });
            vm.ChartCWOMTD.subscribe(function (val) {
                SalesChart.series[1].setData(val, true);
            });
            vm.DeliveryRates.subscribe(function (val) {
                OTDChart.series[1].setData(val, true);
            });
            vm.RollingTwelveLabels.subscribe(function (val) {
                OTDChart.xAxis[0].setCategories(val, true);
            });
        });






        var current = 1;
        var slides = 7;

        $('.slide').not('#slide-1').toggle('slide', { direction: 'up' }, '0');
        function nextSlide() {
            $('#slide-' + current).toggle('fade', { direction: 'up' }, '750', function () {

                current += 1;
                if (current > slides) {
                    current = 1;
                }
                $('#slide-' + current).toggle('fade', { direction: 'up' }, '750');
            });

        }

        function prevSlide() {
            $('#slide-' + current).toggle('fade', { direction: 'up' }, '750', function () {

                current -= 1;
                if (current == 0) {
                    current = slides;
                }
                $('#slide-' + current).toggle('fade', { direction: 'up' }, '750');
            });

        }


        $('.fa-cog').on('click', function () {
            $('#setting-modal').modal("show");
        });

        $('#nextSlide').click(function () {
            nextSlide();
        });

        $('#prevSlide').click(function () {
            prevSlide();
        });

        $(document).on("keydown", function (e) {
            if (e.keyCode === 8) {
                e.preventDefault();
                prevSlide();
            }
            else if (e.keyCode === 37) {
                e.preventDefault();
                prevSlide();
            }
            else if (e.keyCode === 39) {
                e.preventDefault();
                nextSlide();
            }
        });

    </script>
}
